/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */

@import url(./reset.css);


/* var */
:root {
  --yellow: rgb(255, 251, 25);
}

.wrap {
  width: 360px;
  margin: 0 auto;
}

/* 프로필 */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    margin-right: 20px;
    border-radius: 100%;
    border: 1.5px solid black;
    background: linear-gradient(white, rgb(153, 227, 103) 80%);
}

.profile .img-area img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  object-fit: cover;
}

.profile > div:first-child {
  display: flex;
  align-items: center;
}

.profile > div:first-child strong {
  font-size: 17px;
  font-weight: bold;
}

.profile > div:first-child p {
  margin-top: 10px;
  color: #aaa;
}

.profile .fa-comment-alt {
  color:rgba(0, 0, 0, 0.4);
}

.profile .detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile .detail .time {
  color: #7a7a7a;
}

.profile .detail .dot {
  margin-top: 10px;
  background-color: tomato;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}


/* 로그인 */
.login-text {
  margin: 50px 0;
  text-align: center;
}

.login-text h1 {
  font-size: 20px;
}

.login-text p {
  color: #aaa;
  margin-top: 20px;
  font-size: 14px;
}

.login-form {
  padding: 0 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #aaa;
}

.login-form input + input {
  display: block;
  margin-top: 30px;
}

.login-form button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  color:#fff;
  border-radius: 10px;
  background-color: var(--yellow);
}

.login-form button:hover {
  background-color: #f8f01a;
}


.find-link {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.find-link:hover {
  color : var(--yellow)
}


/* 헤더 */
.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.alt-title {
  display: flex;
  justify-content: space-between;
}

.alt-title {
  padding: 20px;
}

.alt-title h2 {
  font-size: 30px;
  font-weight: bold;
}

.alt-title strong {
  font-size: 20px;
  font-weight: bold;
}

/* friends */
.friends-wrap .alert {
  padding: 10px;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.1);
}

/* 네비게이션 */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9fa;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  width: 25%;
  text-align: center;
}

nav ul li a {
  padding: 20px;
  display: inline-block;
  font-size: 30px;
  color: #2e363e;
}

nav ul li a:hover {
  color:var(--yellow)
}

/* 진입 이미지 */
/* .splash {
  position: fixed;
  left: 0;
  top: 0;
}

.splash img {
  width: 100%;
} */

.no-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}

/* 700 이상에서 안보이기 */
@media screen and (max-width: 700px) {
  .no-mobile {
    display: none;
  }
}